<a href="https://colab.research.google.com/github/suryateja1638/SURYA-TEJA_INFO5731_FALL2023/blob/main/In_class_exercise_03_Surya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (due on 11:59 PM 10/08/2023, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

Text mining:
Text mining is an interdisciplinary field that draws the data mining,information retrieval, machine learning, statistics,
and computational linguistics.A portion of information is stored as text such as news articles,technical papers, books,
digital libraries, emails, blogs, and web pages.
An important goal is to derive high quality information from the texts.This is done through the discovery of patterns and trends
by means of  statistical pattern learning, topic modeling, and statistical language modeling.
Typical text mining tasks includes:
1.text categorization
2.text clustering
3.concept/entity extraction
4.production of granular taxonomies
5.sentiment analysis
6.document summarization
7.entity-relation modeling

The text classification method which we would discuss over here is kind of extracting the data from the google colab
in the last in class assignment we extracted some papers from google colab so now we try to use them and extract the data
The features which might be helpful in extracting is
Number of sentences, Number of words, Number of characters, Average word length, Number of special characters,
Number of numerics,Number of uppercase words.
Number of sentences is usefull in finding out the how many snetences are present in the list
Number of words is usefull in finding out the how many words are present in the list
Number of characters is usefull in finding out the how many characters are present in the list
Average word length is usefull in finding out the average of words that are present in the list
Number of special characters is usefull in finding out the number of special characters that are present in the list
This features are helpful in organising the data and using them for the appropriate methods.

Features useful to build the machine learning model:
1. Preprocessing of Data
2: Feature Engineering
3: Diverse Algorithms
4: Algorithm Selection
5: Training and Tuning
6: Ensembling
7: Head-to-Head Model Competitions
8: Human-Friendly Insights

Question 2 (10 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [ ]:
# You code here (Please add comments in the code):
from six.moves import urllib
import pandas as pd

t1 = []
url = "https://raw.githubusercontent.com/srujan-bandla/srujan_INFO5731_Fall2022/main/In_class_exercise/sampledata.txt"
tf = urllib.request.urlopen(url)  #This function is used to decode the url and get the data from it it is a predefined function

for i in tf:
    dec_data = i.decode("utf-8").replace('\r\n', '')    #this statement is used to decode the data present in the url and convert it into standard format
    if dec_data:
        t1.append(dec_data)       #appending the decoded data to a list
df = pd.DataFrame (t1, columns = ['Text'])   #converting the list to data frame using pamdas

In [ ]:
df['Num of Words'] = df['Text'].apply(lambda y: len(str(y).split(" ")))
df

                                                  Text  Num of Words
0                   Synonyms of about (Entry 1 of 3)\n             7
1                                 1having to do with\n             4
2    a POIGANT story about a young man who goes off...            12
3                                 Synonyms for about\n             3
4                                                   \n             1
..                                                 ...           ...
117                                                 \n             1
118  asleep, dormant, dozing, napping, resting, sle...             8
119  dozy, drowsy, nodding, SLEEPY, slumberous (or ...             8
120                                      dreaming ME\n             2
121                           hypnotized, MESMERIZED\n             2

[122 rows x 2 columns]

In [ ]:
df['Num of Char'] = df['Text'].str.len()
df

,Text,Num of Words,Num of Char
0,Synonyms of about (Entry 1 of 3)\n,7,33
1,1having to do with\n,4,19
2,a POIGANT story about a young man who goes off...,12,54
3,Synonyms for about\n,3,19
4,\n,1,1
...,...,...,...
117,\n,1,1
118,"asleep, dormant, dozing, napping, resting, sle...",8,76
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",8,62
120,dreaming ME\n,2,12
121,"hypnotized, MESMERIZED\n",2,23

In [ ]:
#To find the average word length of the list
def awl(x):
    jai = x.split() #here the sentence is being splitted into parts and being assigned to variable jai
    if len(jai) != 0:  #here we are checking if the variable is empty or not
        return(sum(len(deep) for deep in jai)/len(jai))
    else:
        return None

df['Avg Word Length'] = df['Text'].apply(lambda z: awl(z))
df

,Text,Num of Words,Num of Char,Avg Word Length
0,Synonyms of about (Entry 1 of 3)\n,7,33,3.714286
1,1having to do with\n,4,19,3.750000
2,a POIGANT story about a young man who goes off...,12,54,3.500000
3,Synonyms for about\n,3,19,5.333333
4,\n,1,1,NaN
...,...,...,...,...
117,\n,1,1,NaN
118,"asleep, dormant, dozing, napping, resting, sle...",8,76,8.500000
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",8,62,6.750000
120,dreaming ME\n,2,12,5.000000
121,"hypnotized, MESMERIZED\n",2,23,10.500000

In [ ]:
#To find the number of special characters present in the list

def spchar(x):
    red = 0
    for i in range(len(x)):
        if not((x[i].isalpha()) and (x[i].isdigit())):
            red = red + 1
    return red

df['Num of spec char'] = df['Text'].apply(lambda y: spchar(y))
df

,Text,Num of Words,Num of Char,Avg Word Length,Num of spec char
0,Synonyms of about (Entry 1 of 3)\n,7,33,3.714286,33
1,1having to do with\n,4,19,3.750000,19
2,a POIGANT story about a young man who goes off...,12,54,3.500000,54
3,Synonyms for about\n,3,19,5.333333,19
4,\n,1,1,NaN,1
...,...,...,...,...,...
117,\n,1,1,NaN,1
118,"asleep, dormant, dozing, napping, resting, sle...",8,76,8.500000,76
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",8,62,6.750000,62
120,dreaming ME\n,2,12,5.000000,12
121,"hypnotized, MESMERIZED\n",2,23,10.500000,23

In [ ]:
#To find the number of numerics present in the list

df['Num of num'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()])) #here we are considering it to be a seperate numeric if it is seperated with a space using the split function
df

,Text,Num of Words,Num of Char,Avg Word Length,Num of spec char,Num of num
0,Synonyms of about (Entry 1 of 3)\n,7,33,3.714286,33,1
1,1having to do with\n,4,19,3.750000,19,0
2,a POIGANT story about a young man who goes off...,12,54,3.500000,54,0
3,Synonyms for about\n,3,19,5.333333,19,0
4,\n,1,1,NaN,1,0
...,...,...,...,...,...,...
117,\n,1,1,NaN,1,0
118,"asleep, dormant, dozing, napping, resting, sle...",8,76,8.500000,76,0
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",8,62,6.750000,62,0
120,dreaming ME\n,2,12,5.000000,12,0
121,"hypnotized, MESMERIZED\n",2,23,10.500000,23,0

In [ ]:
df['Num of upper case words'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()])) #using split function we are finding the words with completely upper case
df

,Text,Num of Words,Num of Char,Avg Word Length,Num of spec char,Num of num,Num of upper case words
0,Synonyms of about (Entry 1 of 3)\n,7,33,3.714286,33,1,0
1,1having to do with\n,4,19,3.750000,19,0,0
2,a POIGANT story about a young man who goes off...,12,54,3.500000,54,0,1
3,Synonyms for about\n,3,19,5.333333,19,0,0
4,\n,1,1,NaN,1,0,0
...,...,...,...,...,...,...,...
117,\n,1,1,NaN,1,0,0
118,"asleep, dormant, dozing, napping, resting, sle...",8,76,8.500000,76,0,0
119,"dozy, drowsy, nodding, SLEEPY, slumberous (or ...",8,62,6.750000,62,0,2
120,dreaming ME\n,2,12,5.000000,12,0,1
121,"hypnotized, MESMERIZED\n",2,23,10.500000,23,0,1

In [ ]:
df.to_csv('data.csv',index=True)

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)."

Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [ ]:
# You code here (Please add comments in the code):
''' Rank of most important features here:
1. Number of sentences
2. Number of Words
3. Number of Characters
4. Stowords
5. Lowercase
6. Removal of Punctuation '''

' Rank of most important features here:\n1. Number of sentences\n2. Number of Words\n3. Number of Characters\n4. Stowords\n5. Lowercase\n6. Removal of Punctuation '

Question 4 (10 points): Write python code to rank the text based on text similarity. Based on the text data you used for question 2, design a query to match the most relevant docments. Please use the BERT model to represent both your query and the text data, then calculate the cosine similarity between the query and each text in your data. Rank the similary with descending order.

In [ ]:
#pip install transformers

In [ ]:
# You code here (Please add comments in the code):
from transformers import BertTokenizer, BertModel
from sklearn.metrics.pairwise import cosine_similarity
import torch
import numpy as np

# Sample text data
documents = [
    "Natural language processing (NLP) is a field of artificial intelligence that focuses on the interaction between computers and humans through natural language.",
    "The ultimate objective of NLP is to enable computers to understand, interpret, and generate human language in a way that is both valuable and meaningful.",
    "Machine learning algorithms are often used in NLP to analyze and process large amounts of textual data.",
    "BERT (Bidirectional Encoder Representations from Transformers) is a pre-trained transformer model that has achieved state-of-the-art results in various NLP tasks."
]

# Your query
query = "What is the role of machine learning in natural language processing?"

# Load pre-trained BERT tokenizer and model
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

# Function to get BERT embeddings for a given text
def get_bert_embeddings(text):
    input_ids = tokenizer.encode(text, return_tensors='pt')
    with torch.no_grad():
        outputs = model(input_ids)
    embeddings = outputs.pooler_output.numpy()
    return embeddings

# Get BERT embeddings for the query and each document
query_embedding = get_bert_embeddings(query)
document_embeddings = [get_bert_embeddings(doc) for doc in documents]

# Calculate cosine similarity between the query and each document
similarities = [cosine_similarity(query_embedding, doc_embedding)[0][0] for doc_embedding in document_embeddings]

# Rank documents based on similarity in descending order
ranked_documents = sorted(zip(documents, similarities), key=lambda x: x[1], reverse=True)

# Display the ranked documents
print("Ranked Documents based on Cosine Similarity:")
for document, similarity in ranked_documents:
    print(f"Similarity: {similarity:.4f}\n{document}\n")

HBox(children=(HTML(value='Downloading (…)okenizer_config.json'), FloatProgress(value=0.0, max=28.0), HTML(val…

C:\Users\Harilal\anaconda3\lib\site-packages\huggingface_hub\file_download.py:137: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Harilal\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

HBox(children=(HTML(value='Downloading (…)solve/main/vocab.txt'), FloatProgress(value=0.0, max=231508.0), HTML…

HBox(children=(HTML(value='Downloading (…)/main/tokenizer.json'), FloatProgress(value=0.0, max=466062.0), HTML…

HBox(children=(HTML(value='Downloading (…)lve/main/config.json'), FloatProgress(value=0.0, max=570.0), HTML(va…

HBox(children=(HTML(value='Downloading model.safetensors'), FloatProgress(value=0.0, max=440449768.0), HTML(va…

Ranked Documents based on Cosine Similarity:
Similarity: 0.9108
BERT (Bidirectional Encoder Representations from Transformers) is a pre-trained transformer model that has achieved state-of-the-art results in various NLP tasks.

Similarity: 0.8859
The ultimate objective of NLP is to enable computers to understand, interpret, and generate human language in a way that is both valuable and meaningful.

Similarity: 0.7205
Machine learning algorithms are often used in NLP to analyze and process large amounts of textual data.

Similarity: -0.4872
Natural language processing (NLP) is a field of artificial intelligence that focuses on the interaction between computers and humans through natural language.