<a href="https://colab.research.google.com/github/suryateja1638/SURYA-TEJA_INFO5731_FALL2023/blob/main/Surya_Teja_In_class_exercise1_08_30_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [10]:
# write your answer here
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

area = length * width

print(f"The area of the rectangle is: {area}")

Enter the length of the rectangle: 5
Enter the width of the rectangle: 8
The area of the rectangle is: 40.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [11]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Swapping the values without a temporary variable
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

# Display the swapped values
print(f"After swapping, first number is: {num1}")
print(f"After swapping, second number is: {num2}")

Enter the first number: 55
Enter the second number: 44
After swapping, first number is: 44.0
After swapping, second number is: 55.0

(3) Write a Python program to calculate the length of a string.

In [12]:
# write your answer here
input_string = input("Enter a string: ")

# Calculate the length of the string
string_length = len(input_string)

# Display the length of the string
print(f"The length of the string is: {string_length}")

Enter a string: suryateja
The length of the string is: 9

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [13]:
sample_string = 'google.com'

# Initialize an empty dictionary to store character frequencies
char_frequency = {}

# Count the characters in the string
for char in sample_string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

# Sort the characters by frequency in descending order
sorted_char_frequency = dict(sorted(char_frequency.items(), key=lambda item: item[1], reverse=True))

# Display the sorted character frequencies as a dictionary
print(sorted_char_frequency)

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [14]:
# Sample list of numbers
numbers = [5, 10, 15, 20, 25]

# Initialize a variable to store the sum
total_sum = 0

# Calculate the sum of the items in the list
for num in numbers:
    total_sum += num

# Display the total sum
print(f"The sum of the items in the list is: {total_sum}")

The sum of the items in the list is: 75

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [15]:

inputstr="suryateja"

inputstr=inputstr[::-1]

#print("input string :", inputstr)

for x in inputstr:

    if(inputstr.count(x)>1 and x!='$'):

        inputstr=inputstr.replace(x,'$',inputstr.count(x)-1)

inputstr=inputstr[::-1]

print("output string :", inputstr)

output string : suryatej$

(7) Create a program that calculates the factorial of a number using a while loop.

In [16]:

n=int(input("enter a num :"))

fact=1

i=1

while i<=n:

    fact=fact*i

    i=i+1

print("factorial of ",n,"is",fact)

enter a num :6
factorial of  6 is 720

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [17]:
list=[6,9,4,0,7]

l=[each for each in list if each%2==0]

print(l)

[6, 4, 0]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [18]:
pi=3.14

a=2

b=4

s=pi*(1+(a/b))**3

print("s =",s)

s = 10.5975

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [19]:
# Sample dictionaries
dic1 = {1: 11, 2: 22}
dic2 = {3: 33, 4: 44}
dic3 = {5: 55, 6: 66}

# Create a new dictionary by concatenating the given dictionaries
result_dict = {}
for d in (dic1, dic2, dic3):
    result_dict.update(d)

# Display the result
print("Concatenated dictionary:", result_dict)

Concatenated dictionary: {1: 11, 2: 22, 3: 33, 4: 44, 5: 55, 6: 66}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [20]:
tuple=(6,9,4,0,7)

print(tuple)

print("Largest element =",max(tuple))

print("smallest element =",min(tuple))

(6, 9, 4, 0, 7)
Largest element = 9
smallest element = 0

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [21]:
s="surya"

d=dict()

for x in s:

    if x in d:

        d[x]=d[x]+1

    else:

        d[x]=1

print(d)

{'s': 1, 'u': 1, 'r': 1, 'y': 1, 'a': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [22]:
tuple=("a",6,4,9,"b","t")

a='t'

x=[str(i) for i in tuple if str(i) == str(a)]

print(["yes" if x else "no"][0])

yes

(14) Write a Python program to find maximum and the minimum value in a set.

In [23]:
set={6,9,4,0,7}

print(set)

print("Maximum value =",max(set))

print("Minimum value =",min(set))

{0, 4, 6, 7, 9}
Maximum value = 9
Minimum value = 0

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [24]:
import random

# List of students
student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

# Shuffle the list of students
random.shuffle(student_list_fall_2023)

# Divide students into groups
groups = []
group_size = 0
current_group = []

for student in student_list_fall_2023:
    current_group.append(student)
    group_size += 1

    if group_size >= 4 and (group_size == 6 or student == student_list_fall_2023[-1]):
        groups.append(current_group)
        current_group = []
        group_size = 0

# Print the groups
for idx, group in enumerate(groups):
    print(f"Group {idx + 1}: {group}")

Group 1: ['lp0502', 'mt0825', 'sd1268', 'vm0597', 'sb1826', 'sb1883']
Group 2: ['am2807', 'as2819', 'mb1296', 'lb0582', 'dv0310', 'ac1770']
Group 3: ['su0137', 'sm2343', 'mg1299', 'ns0756', 'sg1638', 'vkk0022']
Group 4: ['dt0463', 'tc0469', 'ag1609', 'rm1090', 'sd0926', 'sp2075']
Group 5: ['am2346', 'vr0331', 'yr0180', 'ab1820', 'sm2747', 'htn0086']
Group 6: ['pm0658', 'ad1187', 'ss2981', 'sm2364', 'sr1508', 'bk0413']
Group 7: ['gm0558', 'sc1622', 'mc1453', 'gp0306', 'gk0257']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [25]:
array=[4,8,3,4,8]

found=False

for i in range(0,len(array)):

    for j in range(i+1,len(array)):

        if(array[i]==array[j]):

            found=True

            print(array[j])

if found!=True:

    print(-1)

4
8

(17) Write a Python program to select all the Sundays of a specified year.

In [26]:
import datetime

def find_sundays_in_year(year):
    sundays = []

    # Iterate through the months of the year
    for month in range(1, 13):
        # Iterate through the days of the month
        for day in range(1, 32):
            try:
                date = datetime.date(year, month, day)
                if date.weekday() == 6:  # Sunday has index 6
                    sundays.append(date)
            except ValueError:
                pass  # Ignore invalid dates (e.g., February 30)

    return sundays

# Specify the year for which you want to find Sundays
year = int(input("Enter the year: "))

sundays = find_sundays_in_year(year)
for sunday in sundays:
    print(sunday)

Enter the year: 2021
2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [27]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Get input from the user
num = int(input("Enter a positive integer: "))

# Check if the input is valid
if num < 0:
    print("Please enter a positive integer.")
else:
    result = factorial(num)
    print(f"The factorial of {num} is {result}")

Enter a positive integer: 5
The factorial of 5 is 120

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [28]:
def count_even_numbers(n):
    count = 0
    for num in range(1, n + 1):
        if num % 2 == 0:
            count += 1
        elif num > n:  # Using break statement to optimize the loop
            break
    return count

# Get input from the user
n = int(input("Enter a positive integer: "))

# Check if the input is valid
if n <= 0:
    print("Please enter a positive integer.")
else:
    even_count = count_even_numbers(n)
    print(f"The count of even numbers from 1 to {n} is: {even_count}")

Enter a positive integer: 6
The count of even numbers from 1 to 6 is: 3

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [29]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1

    return vowel_count

# Get input from the user
input_str = input("Enter a string: ")

# Calculate and print the count of vowels
result = count_vowels(input_str)
print(f"The count of vowels in the string is: {result}")

Enter a string: suryateja
The count of vowels in the string is: 4